<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="assName" value="Csharp进阶部分"/>
		<add key="className" value="Csharp进阶部分.继承和多态.子类_实现类_.Teacher"/>
	</appSettings>
</configuration>